[submodule "libraries/Livrable"]
	path = libraries/Livrable
	url = ../Livrable
[submodule "libraries/Odette"]
	path = libraries/Odette
	url = ../Odette
[submodule "libraries/Teinte"]
	path = libraries/Teinte
	url = ../Teinte
	branch = gh-pages
